# This is the main configuration file of your Dancer app
# env-related settings should go to environments/$env.yml
# all the settings in this file will be loaded at Dancer's startup.

# Your application's name
appname: "Side7"

# The default layout to use for your application (located in
# views/layouts/main.tt)
layout: "main"

# when the charset is set to UTF-8 Dancer will handle for you
# all the magic of encoding and decoding. You should not care
# about unicode within your app when this setting is set (recommended).
charset: "UTF-8"

# template engine
# simple: default and very basic template engine
# template_toolkit: TT

#template: "simple"
auto_page: 1

template: "template_toolkit"
engines:
  template_toolkit:
    start_tag: '[%'
    end_tag:   '%]'
    PLUGIN_BASE: 'Side7::Template::Plugin'
    ENCODING: 'utf8'
    COMPILE_DIR: 'public/cached_files/templates'
    COMPILE_EXT: '.ttc'

# Logger setup
logger: log4perl
log4perl:
  no_init: 1

# Sessions
session: Storable

# Plugins
plugins:
  FlashMessage:
    token_name: flash
    session_hash_key: _flash
  ValidateTiny:
    rules_dir: validation_rules
    error_prefix: err_
    is_full: 0
  Email:
    # Set default headers (OPTIONAL)
    headers:
      from: 'oni@side7.com'
      subject: 'default subject'
      X-Mailer: 'MyDancer 1.0'
      X-Accept-Language: 'en'
    # Explicity set a transport (OPTIONAL)
    transport:
      Sendmail:
        sendmail: '/usr/sbin/sendmail'
