<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=[% settings.charset %]" />
    <title>Side7 Admin Dashboard
    [% IF title %]
     - [% title %]
    [% END %]
    </title>
    <link rel="stylesheet" href="[% request.uri_base %]/css/style.css" />

    <!-- Grab Google CDN's jQuery. fall back to local if necessary -->
    <!-- jQuery -->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">/* <![CDATA[ */
        !window.jQuery && document.write('<script type="text/javascript" src="[% request.uri_base %]/javascripts/jquery.js"><\/script>')
    /* ]]> */</script>
    <!-- jQuery UI -->
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/blitzer/jquery-ui.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
    <!-- jkit -->
    <link rel="stylesheet" href="/css/jkit.new.css" />
    <script type="text/javascript" src="/javascripts/jkit/jquery.jkit.1.2.16.min.js"></script>
    <!-- tablesorter -->
    <link rel="stylesheet" href="/javascripts/tablesorter/themes/blue/style.css" />
    <script src="/javascripts/tablesorter/jquery.tablesorter.min.js"></script>
    <!-- SCEditor -->
    <link rel="stylesheet" href="/javascripts/sceditor/minified/themes/default.min.css" type="text/css" media="all" />
    <script type="text/javascript" src="/javascripts/sceditor/minified/jquery.sceditor.bbcode.min.js"></script>

    [% IF ( flash.message || flash.error ) %]
    <!-- jgrowl -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.2.12/jquery.jgrowl.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.2.12/jquery.jgrowl.min.js"></script>
    [% END %]

    <script type="text/javascript">
    $(document).ready(function(){
        $('body').jKit();
    });
    </script>

    <style>
        #section_content {
            margin-left: 205px;
            padding: 90px 5px 100px;
            width: auto;
            height: auto;
        }
        .user_status_Pending {
            color: purple;
            background-color: #FFAAFF;
            font-weight: bold;
        }
        .user_status_Active {
            color: green;
        }
        .user_status_Suspended {
            color: orange;
            background-color: #FFFFAA;
            font-weight: bold;
        }
        .user_status_Disabled {
            color: red;
            background-color: #FFAAAA;
            font-weight: bold;
        }
        .user_role_Guest {
            color: gray;
        }
        .user_role_User {
        }
        .user_role_Subscriber {
            color: gold;
            background-color: seagreen;
        }
        .user_role_Moderator {
            font-weight: bold;
            color: lightsteelblue;
            background-color: navy;
        }
        .user_role_Admin {
            font-weight: bold;
            color: yellow;
            background-color: orangered;
        }
        .user_role_Owner {
            font-weight: bold;
            color: white;
            background-color: black;
        }
    </style>

</head>
<body>
    <div id="page_content">
    [% PROCESS 'site/_page_header.tt' %]
        <div class="admin_menu">
        [% PROCESS 'admin/_main_menu.tt' %]
        </div><!-- end admin_menu -->
        <div id="section_content">
        [% content %]
        </div><!-- end section_content -->
    </div><!-- end page_content -->
    [% PROCESS 'site/_footer.tt' %]
</body>
</html>
