<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-type" content="text/html; charset=[% settings.charset %]" />
<title>Side 7 - My Dashboard
[% IF title %]
 - [% title %]
[% END %]
</title>
<link rel="stylesheet" href="[% request.uri_base %]/css/style.css" />

<!-- Grab Google CDN's jQuery. fall back to local if necessary -->
<!-- jQuery -->
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">/* <![CDATA[ */
    !window.jQuery && document.write('<script type="text/javascript" src="[% request.uri_base %]/javascripts/jquery.js"><\/script>')
/* ]]> */</script>
<!-- jQuery UI -->
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/blitzer/jquery-ui.css" />
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
<!-- jkit -->
<link rel="stylesheet" href="/css/jkit.new.css" />
<script type="text/javascript" src="/javascripts/jkit/jquery.jkit.1.2.16.min.js"></script>
<!-- tablesorter -->
<link rel="stylesheet" href="/javascripts/tablesorter/themes/blue/style.css" />
<script src="/javascripts/tablesorter/jquery.tablesorter.min.js"></script>
<!-- SCEditor -->
<link rel="stylesheet" href="/javascripts/sceditor/minified/themes/modern.min.css" type="text/css" media="all" />
<script type="text/javascript" src="/javascripts/sceditor/minified/jquery.sceditor.bbcode.min.js"></script>
<!-- jquery tools -->
<script src="http://cdn.jquerytools.org/1.2.6/all/jquery.tools.min.js"></script>

[% IF ( flash.message || flash.error ) %]
<!-- jgrowl -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.2.12/jquery.jgrowl.min.css" />
<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.2.12/jquery.jgrowl.min.js"></script>
[% END %]


<script type="text/javascript">
$(document).ready(function(){
    $('body').jKit();
});
</script>

</head>
<body>
<div id="page_content">
    [% PROCESS 'site/_page_header.tt' %]
    <div id="my_section_content">
        <div class="home_menu">
            [% PROCESS 'my/_home_menu.tt' %]
        </div> <!-- end home_menu -->
        <div id="activity_log">
            [% PROCESS 'my/_activity_log.tt' %]
        </div> <!-- end activity_log -->
        [% content %]
    </div> <!-- end my_section_content -->
</div> <!-- end page_content -->
[% PROCESS 'site/_footer.tt' %]
</body>
</html>
