<p>Greetings [% user.username %]!</p>

<p>This e-mail is being sent to you because you, or someone else, followed the process to reset your password. If you are <b>not</b> the one who made this request, please contact us at once at <b>admin@side7.com</b>.

<p>Your updated password is:</p>

<p><pre>[% new_password %]</pre></p>

[% PROCESS 'email/_oni_sig.tt' %]
