<div class="page">
    <div style="float: left; width: 20%; margin-right: 10px; padding: 5px; height: 100%;">
        <h2>News</h2>
        <p>This is where news goes.</p>
    </div>
    <div style="padding: 5px;">
        <h2>Featured Artist</h2>
        <p>This is where the featured artist will be.</p>
    </div>
    <div style="padding: 5px;">
        <h2>Recently Uploaded</h2>
        <p>This is where the most recent 20 uploads will be.</p>
    </div>
</div>
