@font-face {
    font-family: 'AlwinLight';
    src: url('/fonts/alwyn-light-webfont.eot');
    src: url('/fonts/alwyn-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/alwyn-light-webfont.woff') format('woff'),
         url('/fonts/alwyn-light-webfont.ttf') format('truetype'),
         url('/fonts/alwyn-light-webfont.svg#alwynlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #FAFAFA;
    /*background-color: #F5FAFF;*/

    font-family: "AlwinLight", "Lucida Grande", "Bitstream Vera Sans", "Verdana";
    font-size: 13px;
    color: #333;
}

h1 {
    font-size: 28px;
    color: #000;
}

h2 {
    display: block;
    background-color: #003363;
    color: #fff;
    font-weight: bold;
    padding: 0.2em;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

h2 a, h2 div a,
h2 a:visited, h2 div a:visited
{
    color: #ccf;
}

h2 div a {
    font-weight: normal;
}

h2 a:hover, h2 div a:hover,
h2 a:active, h2 div a:active {
    color: #eef;
}

a  {
    color: #447EAC;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    color: #553333;
    text-decoration: underline;
}

#page {
    background-color: #ddd;
    width: 750px;
    margin: auto;
    margin-left: auto;
    padding-left: 0px;
    margin-right: auto;
}

#content {
    background-color: white;
    border: 3px solid #aaa;
    border-top: none;
    padding: 25px;
    width: 500px;
}

#sidebar {
    float: right;
    width: 175px;
}

#header, #about, #getting-started {
    padding-left: 75px;
    padding-right: 30px;
}


#header {
    background-image: url("/images/perldancer.jpg");
    background-repeat: no-repeat;
    background-position: top left;
    height: 64px;
}
#header h1, #header h2 {margin: 0}
#header h2 {
    color: #888;
    font-weight: normal;
    font-size: 16px;
}

#about h3 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 14px;
}

#about-content {
    background-color: #ffd;
    border: 1px solid #fc0;
    margin-left: -11px;
}
#about-content table {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 11px;
    border-collapse: collapse;
}
#about-content td {
    padding: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}
#about-content td.name  {color: #555}
#about-content td.value {color: #000}

#about-content.failure {
    background-color: #fcc;
    border: 1px solid #f00;
}
#about-content.failure p {
    margin: 0;
    padding: 10px;
}

#getting-started {
    border-top: 1px solid #ccc;
    margin-top: 25px;
    padding-top: 15px;
}
#getting-started h1 {
    margin: 0;
    font-size: 20px;
}
#getting-started h2 {
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    color: #333;
    margin-bottom: 25px;
}
#getting-started ol {
    margin-left: 0;
    padding-left: 0;
}
#getting-started li {
    font-size: 18px;
    color: #888;
    margin-bottom: 25px;
}
#getting-started li h2 {
    margin: 0;
    font-weight: normal;
    font-size: 18px;
    color: #333;
}
#getting-started li p {
    color: #555;
    font-size: 13px;
}

#search {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 11px;
}
#search input {
    font-size: 11px;
    margin: 2px;
}
#search-text {width: 170px}

#sidebar ul {
    margin-left: 0;
    padding-left: 0;
}
#sidebar ul h3 {
    margin-top: 25px;
    font-size: 16px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
#sidebar li {
    list-style-type: none;
}
#sidebar ul.links li {
    margin-bottom: 5px;
}

/* START CODE FROM LAYOUT FILE */
#page_content {
    min-height: 100%;
}
.column_wrap {position:relative;}
#page_header {
    width: 100%;
    top: 0;
    height: 90px;
    padding: 0;
    margin: 0;
    position: fixed;
    z-index: 100;
}
#site_header {
    background-color: #2D2E2F;
    height: 60px;
    padding: 0 25px;
    margin: 0;
    width: auto;
}
#header_logo {
    height: 60px;
    width: 150px;
    display: table;
}
#header_logo_img {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}
#header_search {
    float: right;
    width: 400px;
    height: 60px;
    display: table;
}
#header_search_box {
    text-align: right;
    vertical-align: middle;
    display: table-cell;
}
#header_search_box input {
    font-size: 11pt;
    font-family: "Lucida Grande", Arial, sans-serif;
    font-weight: bold;
    background-color: #fff;
    color: #553333;
    padding: 8px;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
#header_avatar
{
    float: right;
    margin: 0;
    margin-left: 5px;
    margin-right: 5px;
    height: 60px;
    width: 60px;
    display: table;
}
#header_avatar_img {
    vertical-align: middle;
    text-align: center;
    display: table-cell;
}
#header_avatar_img img {
    border: solid 1px #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
#site_menu {
    height: 30px;
    padding: 0 32px;
    background-color: #EBF5FF;
    color: #2D2E2F;
    font-weight: bold;
    font-size: 10pt;
    width: auto;
    box-shadow: 0 2px 4px 0 #ccc;
}
#main_menu {
    height: 30px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
}
#main_menu > ul {
    margin: 0;
    padding: 0;
    float: left;
    list-style-type: none;
}
#main_menu > ul > li {
    display: inline;
}
#main_menu > ul > li > a {
    display: block;
    float: left;
    background-color: #EBF5FF;
    color: #2D2E2F;
    text-decoration: none;
    padding: 8px 10px;
}
#main_menu > ul > li > a:hover {
    color: #EBF5FF;
    background-color: #2D2E2F;
}
#user_menu {
    float: right;
}
#user_menu div {
    height: 30px;
    display: table-cell;
    text-align: right;
    vertical-align: middle;
}
#user_menu > div > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: right;
}
#user_menu > div > ul > li {
    display: inline;
}
#user_menu > div > ul > li > a {
    display: block;
    float: right;
    background-color: #EBF5FF;
    color: #2D2E2F;
    text-decoration: none;
    padding: 8px 10px;
}
#user_menu > div > #login_signup
{
    display: inline;
}
#user_menu > div > #login_signup > a
{
    display: inline-block;
    background-color: #EBF5FF;
    color: #2D2E2F;
    text-decoration: none;
    padding: 8px 10px;
}
#user_menu > div > #login_signup > a:hover,
#user_menu > div > ul > li > a:hover {
    color: #EBF5FF;
    background-color: #2D2E2F;
}
#user_menu > div > ul > li > div#username {
    padding-right: 10px;
}
.admin_menu {
    width:200px;
    position:absolute;
    left:0;
    top:93px;
    bottom:40px;
    height:auto;
    display: block;
    margin-right: 5px;
}
.admin_menu_option {
    text-align: left;
    padding: 3px;
    border-bottom: solid 1px #000;
}
.admin_menu_option a {
    font-weight: bold;
}
.admin_menu_option .disabled {
    font-weight: normal;
    color: #777;
}
#section_content {
    width: auto;
    overflow: auto;
    padding: 95px 5px 95px;
}
#my_section_content {
    width: auto;
    overflow: auto;
    padding: 90px 5px 95px;
    margin-left: 205px;
    margin-right: 205px;
}
#activity_log {
    width: 200px;
    padding-top: 5px;
    padding-right: 3px;
    position: absolute;
    right: 0;
    height: 300px;
    overflow: auto;
    font-size: 9pt;
    z-index: 1;
}
.activity_log_entries {
    padding: 2px;
}
.activity_log_elapsed {
    font-size: 8pt;
    color: #888;
    text-align: right;
}
.home_menu {
    width: 200px;
    position: absolute;
    left: 0;
    min-height: 100%;
    height: auto;
    display: block;
    margin-right: 5px;
    z-index: 1;
}
.home_menu_option {
    height: 30px;
    width: auto;
    padding: 10px;
    /* border-bottom: solid 1px #000; */
    background-image: -webkit-gradient(
          linear,
          left bottom,
          color-stop(0, #EBF5FF),
          color-stop(0.50, #FFFFFF)
    );
    background-image: -moz-linear-gradient(
        left center,
        #CCE6FF 0%,
        #FAFAFA 50%
    );
    text-shadow:    1px 1px 0 #fff,
                    -1px -1px 0 #fff,
                    1px -1px 0 #fff,
                    -1px 1px 0 #fff,
                    0px 1px 0 #fff,
                    1px 0px 0 #fff,
                    0px -1px 0 #fff,
                    -1px 0px 0 #fff;
}
.home_menu_option_link {
    display: table-cell;
    width: auto;
    height: 30px;
    text-align: left;
    vertical-align: middle;
    font-size: 12pt;
}
.home_menu_option_link a,
.home_menu_option_link a:hover,
.home_menu_option_link a:visited,
.home_menu_option_link a:active {
    color: #2D2E2F;
    text-decoration: none;
    background: none;
    font-weight: bold;
}
.home_menu_option_link a:hover {
    text-decoration: underline;
}

.home_menu_option .disabled {
    font-weight: normal;
    color: #777;
}
/* END CODE FROM LAYOUT FILE */

.round_corners_5px {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.round_corners_10px {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.error_message_box
{
    border: solid 2px #f00;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 5px;
    background: repeating-linear-gradient(
        135deg,
        #fcc,
        #fcc 5px,
        #fbb 5px,
        #fbb 10px
    );
}

.ui-autocomplete-loading
{
    background: white url("/images/loading-16x16.gif") right center no-repeat;
}

h1, h2, h3, h4, h5 {
    font-family: "AlwinLight", sans-serif;
    margin: 0.6em 0 0.3em 0;
}

p {
    line-height: 1.5em;
    margin: 1.6em 0;
}

code, tt {
    font-family: 'Andale Mono', Monaco, 'Liberation Mono', 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', monospace;
}

form {
    font-family: "AlwinLight", sans-serif;
}

input, textarea, select {
    font-family: "AlwinLight", sans-serif;
    font-size: 10pt;
    padding: 8px;
    border: solid 1px #ccc;
    margin-bottom: 3px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

label, legend {
    font-weight: bold;
    font-family: "AlwinLight", sans-serif;
}

label {
    width: 200px;
    text-align: right;
    vertical-align: middle;
    margin-right: 5px;
    font-size: 10pt;
    padding: 0;
    display: inline-block;
}

legend {
    font-size: 12pt;
    padding: 0 5px;
    text-shadow:    1px 1px 0 #fff,
                    -1px -1px 0 #fff,
                    1px -1px 0 #fff,
                    -1px 1px 0 #fff,
                    0px 1px 0 #fff,
                    1px 0px 0 #fff,
                    0px -1px 0 #fff,
                    -1px 0px 0 #fff;
}

fieldset {
    border: solid 1px #ddd;
    background-color: #EBF5FF;
    margin-top: 0.5em;
    margin-bottom: 0.2em;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 1px 2px 5px #ccc inset;
}

.form_field {
    display: block;
    min-height: 2em;
    margin-bottom: 0.5em;
    vertical-align: middle;
}

.form_field input, .form_field select, .form_field textarea {
    vertical-align: middle;
}

th, td {
    font-family: "AlwinLight", sans-serif;
}

.content_box {
    border: solid 1px #eee;
    background-color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 1px 2px 4px #ccc;
    padding: 5px;
    margin: 5px 0;
}

/* FLOATING GRIDS */

.floating_grid {
    padding: 0;
    margin: 0;
}

.floating_grid:after {
    content: "";
    display: table;
    clear: both;
}

/* FRIEND REQUEST FLOATING GRID */

.friend_request {
    float: left;
    height: 54px;
    display: table;
    padding: 3px;
    width: 275px;
    font-size: 12pt;
    background-color: #2D2E2F;
    color: #fff;
}

.friend_request, .friend_request:after, .friend_request:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

[class*='friend_request'] {
    margin-right: 10px;
    margin-bottom: 10px;
}

[class*='friend_request']:last-of-type {
    margin-right: 0;
}

.avatar {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.friend_request_avatar {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 60px;
    height: 60px;
}

.friend_request_content {
    display: table-cell;
    vertical-align: top;
    text-align: left;
    width: 170px;
    height: 55px;
    padding-top: 5px;
}

.friend_request_content > a {
    font-weight: bold;
    background: none;
}

.friend_request_button {
    display: table-cell;
    vertical-align: top;
    text-align: right;
    width: 20px;
    height: 60px;
}

.friend_request_button > a {
    background: none;
}

/* INDEX PAGE RECENT UPLOADS FLOATING GRID */

#index_recent_uploads {
    margin-right: 27%;
    height: auto;
    padding: 0.3em;
    display: table;
    vertical-align: top;
}

.recent_upload_thumbnail {
    float: left;
    display: table;
    width: 100px;
    height: 100px;
}

.recent_upload_thumbnail, .recent_upload_thumbnail:after, .recent_upload_thumbnail:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

[class*='recent_upload_thumbnail'] {
    margin-right: 10px;
    margin-bottom: 10px;
}

[class*='recent_upload_thumbnail']:last-of-type {
    margin-right: 0;
}

.recent_upload_cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background-color: #CCE6FF;
    padding: 0.2em;
    width: 100px;
    height: 100px;
}

/* INDEX PAGE FEATURED ARTIST FLOATING GRID */

#index_featured_artist {
    margin-right: 27%;
    height: auto;
    padding: 0.3em;
    display: table;
    vertical-align: top;
}

#featured_artist_content {
    padding: 0.3em;
    display: table;
}

#featured_artist_avatar {
    display: table-cell;
    width: 200px;
    height: 200px;
    vertical-align: top;
    text-align: center;
}

#featured_artist_thumbs {
    display: table-cell;
}

.featured_artist_thumbnail {
    float: left;
    display: table;
    width: 100px;
    height: 100px;
}

.featured_artist_thumbnail, .featured_artist_thumbnail:after, .featured_artist_thumbnail:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

[class*='featured_artist_thumbnail'] {
    margin-right: 10px;
    margin-bottom: 10px;
}

[class*='featured_artist_thumbnail']:last-of-type {
    margin-right: 0;
}

/* END FLOATING GRIDS */


.thumbnail_tooltip_container
{
    min-width: 350px;
    max-width: 500px;
    height: 50px;
    display: table;
}

.thumbnail_tooltip_avatar
{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 56px;
}

.thumbnail_tooltip_content
{
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    padding: 0.2em;
}

#footer-container {
    position: relative;
    width: 100%;
    height: 90px;
    margin-top: -80px;
    padding-top: 10px;
    clear: both;
}

#footer {
    display: table;
    height: 50px;
    width: 97%;
    margin: 0 auto;
    padding: 10px 5px;
    font-family: sans-serif;
    font-size: 10pt;
    font-family: "AlwinLight", sans-serif;
    color: #2D2E2F;
    background-color: #CCE6FF;
    border: solid 1px #99CCFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    z-index: 5;
}

#footer > div > a,
#footer > div > a:hover,
#footer > div > a:visited,
#footer > div > a:active
{
    color: #2D2E2F;
    background: none;
    font-weight: bold;
}

#footer_left, #footer_right
{
    display: table-cell;
    height: 30px;
    padding: 10px;
    vertical-align: middle;
}

#footer_left
{
    text-align: left;
}

#footer_right
{
    text-align: right;
}

.rounded_block
{
    padding: 5px;
    background-color: #bbf;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#album_artwork_form
{
    float: right;
    margin: 0;
    margin-right: 15px;
    display: table-cell;
    vertical-align: top;
    text-align: center;
}

hr.faded {
  clear: both;
  float: none;
  width: 100%;
  height: 1px;
  margin: 0.8em 0;
  border: none;
  background: #ddd;
  background-image: -webkit-gradient(
      linear,
      left bottom,
      right bottom,
      color-stop(0, rgb(255,255,255)),
      color-stop(0.1, rgb(50,50,50)),
      color-stop(0.9, rgb(50,50,50)),
      color-stop(1, rgb(255,255,255))
  );
  background-image: -moz-linear-gradient(
      left center,
      rgb(255,255,255) 0%,
      rgb(50,50,50) 10%,
      rgb(50,50,50) 90%,
      rgb(255,255,255) 100%
  );
}

.sceditor_block {
    display: inline-block;
    padding-left: 100px;
}

textarea.user_input_textarea {
    width: 625px;
    height: 200px;
}

.small_text
{
    font-size: 8pt;
}

/* Thumbnails */

.thumb_container_small, .thumb_container_large {
    display: table;
    padding: 0;
    margin: 0;
}

.thumb_container_small {
    width: 100px;
    height: 100px;
}

.thumb_container_large {
    width: 300px;
    height: 300px;
}

.thumb_image {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0;
    margin: 0;
}

.thumb_image > img, .thumb_image > a > img {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

/* Comments */
.comment_thread
{
    padding: 2px;
    margin: 5px 5px 5px 320px;
    background-color: #336;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.comment, .comment_hidden
{
    padding: 3px;
    margin: 3px;
    background-color: #ccf;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.comment_hidden
{
    opacity: 0.7;
    filter: alpha(opacity=70);
    background: repeating-linear-gradient(
        45deg,
        #eef,
        #eef 5px,
        #ddf 5px,
        #ddf 10px
    );
}

.defunct_user
{
    color: #b33;
    font-weight: bold;
}

.owner_rating
{
    position: relative;
    margin: 5px;
    background-color: #336;
    color: #fff;
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/* LEDGERS */

.ledger
{
    width: 100%;
    margin: 10px 5px;
    font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
    border-collapse: collapse;
}

.ledger th
{
    font-weight: bold;
    font-size: 12pt;
    background-color: #336;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 3px;
}

.ledger_row_odd td, .ledger_row_even td
{
    padding: 3px;
    font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
    font-size: 8pt;
}

.ledger_row_odd
{
    background-color: #ccf;
}

.ledger_row_even
{
    background-color: #aac;
}

/* BBCODE Styles */
.bbcode_quote_header
{
    margin: 0 10px;
    font-weight: bold;
    background-color: #336;
    color: #fff;
    padding: 2px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.bbcode_quote_body
{
    background-color: #ccf;
    color: #000;
    padding: 5px;
    font-weight: normal;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.comment_hidden .bbcode_quote_header,
.comment_hidden .bbcode_quote_header .bbcode_quote_body
{
    opacity: 0.7;
    filter: alpha(opacity=70);
}

.bbcode_code_header
{
    margin: 0 10px;
    font-weight: bold;
    background-color: #663;
    color: #fff;
    padding: 2px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.bbcode_code_body
{
    background-color: #ccf;
    color: #000;
    padding: 5px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
    font-size: 9pt;
    white-space: pre;
}

.comment_hidden .bbcode_code_header,
.comment_hidden .bbcode_code_header .bbcode_code_body,
.comment_hidden .bbcode_code_header .bbcode_code_body pre
{
    opacity: 0.7;
    filter: alpha(opacity=70);
}

.bbcode_code_body pre
{
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
    padding: 3px;
    font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
    font-weight: normal;
    font-size: 8pt;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    margin: 0;
    background-color: #fff;
}

/* JKIT STYLES */
/* jkit lightbox */
div#jkit-lightbox-bg {
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 10000;
    width: 100%;
    height: 100%;
    background: #000;
}

div#jkit-lightbox-content {
    display: none;
    position: fixed;
    border: none;
    left: 10%;
    top: 100px;
    z-index: 10001;
    background: #fff;
    padding: 10px;
    overflow-y:hidden;
    -webkit-overflow-scrolling: touch;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

div#jkit-lightbox-title {
    display: none;
    position: fixed;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    height: 20px;
    left: 0px;
    top: 0px;
    z-index: 10002;
    text-align: left;
}

div#jkit-lightbox-nav {
    display: none;
    position: fixed;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    height: 20px;
    left: 0px;
    top: 0px;
    z-index: 10003;
    text-align: right;
    width: 50px;
    cursor: pointer;
    cursor: hand;
}

span#jkit-lightbox-nav-next {
    margin-right: 20px;
}

span#jkit-lightbox-nav-prev {
    margin-right: 10px;
}

/* jkit tooltip */
div#jkit-tooltip {
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    position: absolute;
}

.info_tooltip {
    max-width: 500px;
    min-width: 350px;
    font-size: 9pt;
    background-color: #ccf;
    /* opacity: 0.9; */
    border: solid 1px #336;
    color: #000;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-box-shadow:0 0 5px #aaa;
    -moz-box-shadow: 0 0 5px #aaa;
    box-shadow:0 0 5px #aaa;
}
