<h1>Enter Your Confirmation Code</h1>

<form action='/confirm_user' method='post'>
    <label for="confirmation_code">Conformation Code:</label>
    <input type="text" name="confirmation_code" size="40" maxlength="45" value="[% confirmation_code %]" />
    <input type="submit" value="Send Code" />
</form>
