[% IF activity_log.size == 0 %]
    <div class="activity_log_entry">No activity to report upon.<br>Poke your <a href="/my/friends">friends</a> to upload new content!</div>
[% ELSE %]
    [% FOREACH activity IN activity_log %]
        <div class="activity_log_entry">[% activity.activity %]<br>
        <div class="activity_log_elapsed">[% activity.elapsed_time %]</div></div>
        [% IF ! loop.last %]
        <hr class="faded">
        [% END %]
    [% END %]
[% END %]
