    <div style="float: left; margin-right: 10px; padding: 5px; width: 200px; border-right: solid 1px #000000;">
        <div><a href="/my/home">My Home</a></div>
        <div><a href="/my/account">My Account</a></div>
        <div><a href="/my/profile">My Profile</a></div>
        <div><a href="/my/gallery">My Gallery</a></div>
        <div><a href="/my/kudos">My Kudos Coins</a></div>
    </div>
