[% USE date %]
<div>This is where all recent friends uploads/journal posts will display.<br>
If User has no friends, then this will default to Recent Uploads, with header messages explaining friends.
</div>
