<h1>Enter Your Password Reset Confirmation Code</h1>

<form action='/reset_password' method='post'>
    <label for="reset_code">Conformation Code:</label>
    <input type="text" name="reset_code" size="40" maxlength="45" value="[% reset_code %]" />
    <input type="submit" value="Send Code" />
</form>
