<h1>Your Password Has Been Reset!</h1>
<div class="rounded_block">We've e-mailed your updated password to your e-mail address on record.<br>
<strong>Please remember to reset it to something new when you log in.</strong></div>
<br>
<div>You can <a href="/">return to the main page</a>, or <a href="/login">login</a>.</div>
